<div>
    <label for="username">Email</label>
    <input
      type="username"
      name="username"
      placeholder="Enter username"
      value="<%= typeof username != 'undefined' ? username : '' %>" />
  </div>
<div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>" />
  </div>
 <button type="submit" class="btn btn-primary btn-block">
   Register
</button>
<p >Have An Account? <a href="/users/login">Login</a></p>

